.navbar {
  margin-bottom: 0;
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 300px;
}

h2 {
  padding-bottom: 5px;
  color: #3e3e3e;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

h3 {
  margin-top: 8px;
}

.resume_right {
  text-align: right;
}


#profile-picture {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#jumbotron-resume {
  position: inherit;
  background: #000 url("images/resume_header.jpg") center center;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

#jumbotron-connect {
  position: inherit;
  background: #000 url("images/connect_header.jpg") center center;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

#jumbotron-interests {
  position: inherit;
  background: #000 url("images/interests_header.jpeg") center center;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

#footercontainer {
  padding-top: 10px;
  margin-top: 30px;
  background-color: #eee;
  text-align: center;
  border-top: 1px solid #eee;
  color: #999999;
}

#investing {
  color: green;
}

#books {
  color: blue;
}

#movies {
  color: red;
}

.social {
  text-align: center;
  color: #eee;
}

.interests_top {
  border-right: 1px solid #eee;
  text-align: center;
  margin: auto;
}

.interests_monitor {
  text-align: center;
  margin: auto;
}

.interests_bookrec {
  text-align: right;
  font-size: 14px;
  margin: auto;
}

.interests_right {
  text-align: center;
  margin: auto;
}

.int_link_master {
  font-size: 30px;
}
